In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import yfinance as yf
import quandl
import statsmodels.api as sm
import seaborn as sns
import scipy.stats as stats
import datetime as dt
plt.style.use('seaborn')
mpl.rcParams['font.family'] = 'serif'
apikey = 'J_fXGeVW_zC6RaDeJSQv'
quandl.ApiConfig.api_key = apikey

In [54]:
d = dt.datetime.today() - dt.timedelta(days= 1)

In [55]:
str(d)

'2023-04-05 02:29:07.848083'

In [256]:
class Portfolio:

    def __init__(self,tickers:list(), shares:list(),cash:float):
        self.tickers = tickers
        self.shares = shares
        self.cash = cash



    def return_tick(self):
        return self.tickers
    def fetch_price_data(self, enddate = None):
        if enddate == None:
            enddate = dt.datetime.today() - dt.timedelta(days= 1)
        else:
            enddate = enddate
        start_date = '2015-01-01'
        price_df = quandl.get_table('QUOTEMEDIA/PRICES', ticker =self.tickers,\
                          qopts = {'columns':['date','ticker','adj_close']},paginate = True, date = {'gte':start_date,'lte':enddate}).set_index('date')
        return price_df.pivot_table(values = 'adj_close', columns='ticker', index=price_df.index)
        



    def portfolio_(self):
        price_data = self.fetch_price_data()
        lp = price_data.iloc[-1][self.tickers].to_frame("Spot_Price")
        P = pd.DataFrame({'ticker':self.tickers,'Shares':self.shares})
        P = P.merge(lp, on = 'ticker')
        P['MV'] = P['Shares']*P['Spot_Price']
        cash_row = pd.DataFrame({'ticker':['Cash'], 'Shares':[0],'Spot_Price':[1],'MV':[self.cash]})
        
        total_row = pd.DataFrame({'ticker': ['TOTAL'], 'Shares': [0], 'Spot_Price': [0], 'MV': [P['MV'].sum()]})

        
        P = pd.concat([P,cash_row], axis = 0)
        P = pd.concat([P,total_row], axis=0)
        

        return np.round(P,5)

In [241]:
p = Portfolio(['JPM','AAPL'],[20,80], 5000)
t = p.return_tick()

In [242]:
PVs = p.fetch_price_data()

In [243]:
PVs.index[-1]

Timestamp('2023-04-05 00:00:00')

In [205]:
np.zeros(2)

array([0., 0.])

In [251]:
port = p.portfolio_()
my_ticks = ['AMZN',"COST","HD","JEPI","VTV",'WAL']
num_shares = [6,4.00346+.00712,7.05887,10,4.02437,25]

In [257]:
myPort = Portfolio(tickers=my_ticks,shares = num_shares,cash = 5432.06)

In [259]:
tick_data = myPort.fetch_price_data()

In [258]:
myPort.portfolio_()

  ticker    Shares  Spot_Price          MV
0   AMZN   6.00000      101.10   606.60000
1   COST   4.01058      497.13  1993.77964
2     HD   7.05887      288.67  2037.68400
3   JEPI  10.00000       54.30   543.00000
4    VTV   4.02437      138.83   558.70329
5    WAL  25.00000       29.37   734.25000
0   Cash   0.00000        1.00  5432.06000
0  TOTAL   0.00000        0.00  6474.01693

In [66]:
piv_df = pract_df.pivot_table(values = 'adj_close', columns='ticker', index=pract_df.index)

5852

In [142]:
piv_df.iloc[-1,:].loc['AAPL']

163.76

In [73]:
for i in piv_df.columns:
    print(piv_df[i][-1])

163.76
127.61

In [58]:
pract_df

           ticker   adj_close
date
2023-04-05    JPM  127.610000
2023-04-04    JPM  127.421477
2023-04-03    JPM  129.147948
2023-03-31    JPM  129.296782
2023-03-30    JPM  127.748911
...           ...         ...
2000-01-07   AAPL    0.756039
2000-01-06   AAPL    0.721846
2000-01-05   AAPL    0.790231
2000-01-04   AAPL    0.778834
2000-01-03   AAPL    0.850563

[11704 rows x 2 columns]